In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import numpy as np

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns
from Acquire_MIRZ import get_connection, read_csv
from Prepare_mirz import prep_titanic, my_train_test_split, prep_telco_data
import pandas as pd
import numpy as np

What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [2]:
uglytitanic = read_csv('Titanic.csv')

In [3]:
myTitanic = prep_titanic(uglytitanic)

In [4]:
myTitanic.survived.value_counts()

0    424
1    288
Name: survived, dtype: int64

In [5]:
myTitanic

,survived,pclass,age,sibsp,parch,fare,alone,is_male,Cherbourg,Southampton,Queenstown
0,0,3,22.0,1,0,7.2500,0,1,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,0,0,1.0,0.0,0.0
2,1,3,26.0,0,0,7.9250,1,0,0.0,1.0,0.0
3,1,1,35.0,1,0,53.1000,0,0,0.0,1.0,0.0
4,0,3,35.0,0,0,8.0500,1,1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,29.1250,0,0,0.0,0.0,1.0
886,0,2,27.0,0,0,13.0000,1,1,0.0,1.0,0.0
887,1,1,19.0,0,0,30.0000,1,0,0.0,1.0,0.0
889,1,1,26.0,0,0,30.0000,1,1,1.0,0.0,0.0
890,0,3,32.0,0,0,7.7500,1,1,0.0,0.0,1.0

In [6]:
myTitanic.survived.value_counts()

0    424
1    288
Name: survived, dtype: int64

In [7]:
baseline = len(myTitanic[myTitanic.survived == 0]) / len(myTitanic)
baseline

0.5955056179775281

Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample

In [8]:
train,validate,test = my_train_test_split(myTitanic,'survived')
x_train = train.drop(columns = 'survived')
y_train = train.survived
x_validate = validate.drop(columns = 'survived')
y_validate = validate.survived

In [9]:
DTC = DecisionTreeClassifier(max_depth = 5)
DTC = DTC.fit(x_train,y_train)

In [10]:
y_predictions = DTC.predict(x_train)

Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [11]:
DTC.score(x_train,y_train)

0.8544600938967136

In [12]:
print(classification_report(y_train,y_predictions))

              precision    recall  f1-score   support

           0       0.83      0.95      0.89       254
           1       0.91      0.71      0.80       172

    accuracy                           0.85       426
   macro avg       0.87      0.83      0.84       426
weighted avg       0.86      0.85      0.85       426

In [13]:
labels = sorted(y_train.unique())
pd.DataFrame(confusion_matrix(y_train, y_predictions), index=labels, columns=labels)

     0    1
0  242   12
1   50  122

Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [14]:
Accuracy = (242 + 122) / (242 + 122 + 12 + 50)
TPR = 122 /(122 + 12)
TNR = 242 / (50 + 242)
FPR = 50/ (50 + 242)
FNR = 12 / (12 + 122)
precision = 122 / (122 + 50)
recall = 122 / (122 + 12)
f1 = 122/ 122 + (.5 * (50 + 12))
support_S = 122
support_D = 242

print(Accuracy, TPR, TNR, FPR, FNR, precision, recall, f1,support_S,support_D )

0.8544600938967136 0.9104477611940298 0.8287671232876712 0.17123287671232876 0.08955223880597014 0.7093023255813954 0.9104477611940298 32.0 122 242

Run through steps 2-4 using a different max_depth value.

In [15]:
DTC2 = DecisionTreeClassifier(max_depth = 8)

In [16]:
DTC2.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=8)

In [17]:
y_predictions2 = DTC2.predict(x_train)
y_predictions2

array([0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0])

In [18]:
DTC2.score(x_train,y_train)

0.9295774647887324

In [19]:
print(classification_report(y_train,y_predictions2))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94       254
           1       0.98      0.84      0.91       172

    accuracy                           0.93       426
   macro avg       0.94      0.92      0.92       426
weighted avg       0.93      0.93      0.93       426

In [20]:
labels = sorted(y_train.unique())
pd.DataFrame(confusion_matrix(y_train, y_predictions2))

     0    1
0  251    3
1   27  145

In [21]:
Accuracy = (251 + 145) / (251 + 145 + 3 + 27)
TPR = 145 /(145 + 3)
TNR = 251 / (27 + 251)
FPR = 27/ (27 + 251)
FNR = 3 / (3 + 145)
precision = 145 / (145 + 27)
recall = 145 / (145 + 3)
f1 = 145/ 145 + (.5 * (27 + 3))
support_S = 145
support_D = 251

print(Accuracy, TPR, TNR, FPR, FNR, precision, recall, f1,support_S,support_D )

0.9295774647887324 0.9797297297297297 0.9028776978417267 0.09712230215827339 0.02027027027027027 0.8430232558139535 0.9797297297297297 16.0 145 251

2nd model works better on in-Sample-data

In [22]:
DTC.score(x_validate,y_validate)

0.7692307692307693

In [23]:
DTC2.score(x_validate,y_validate)

0.7412587412587412

first model works better on out of sample data.

In [24]:
uglytelco = read_csv('Telco.csv')

In [25]:
telco = prep_telco_data(uglytelco)

In [26]:
telco = telco.dropna()

In [27]:
telco.did_churn.value_counts()

0    3249
1    1586
Name: did_churn, dtype: int64

In [28]:
baseline = 3249/ len(telco)

In [29]:
baseline

0.6719751809720786

In [30]:
train,validate,test = my_train_test_split(telco,'did_churn')
x_train = train.drop(columns = 'did_churn')
y_train = train.did_churn
x_validate = validate.drop(columns = 'did_churn')
y_validate = validate.did_churn

In [31]:
DTC = DecisionTreeClassifier(max_depth = 5)
DTC = DTC.fit(x_train,y_train)

ValueError: could not convert string to float: ''

In [32]:
telco

,internet_service_type_id,contract_type_id,senior_citizen,tenure,payment_type_id,monthly_charges,total_charges,is_female,has_partner,has_dependents,has_phone_service,uses_paperless_billing,did_churn,has_mult_lines,has_online_security,has_online_backup,has_device_protection,has_tech_support,can_stream_tv,can_stream_movie
0,1,2,0,9,2,65.6,593.3,1,1,1,1,1,0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1,1,1,0,9,2,59.9,542.4,0,0,0,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,1,0,4,1,73.9,280.85,0,0,0,1,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2,1,1,13,1,98.0,1237.85,0,1,0,1,1,1,0.0,0.0,1.0,1.0,0.0,1.0,1.0
4,2,1,1,3,2,83.9,267.4,1,1,0,1,1,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7036,2,1,0,1,2,70.15,70.15,1,0,0,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7038,1,2,0,13,2,55.15,742.9,1,0,0,1,0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7039,2,1,0,22,1,85.1,1873.7,0,1,0,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0
7040,1,1,0,2,2,50.3,92.75,0,0,0,1,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7041,1,3,0,67,2,67.85,4627.65,0,1,1,1,0,0,0.0,1.0,0.0,1.0,1.0,0.0,1.0